@model MSSA_Covid.Data.Models.KioskConfiguration

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>KioskConfiguration</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group custom-file">
                <input asp-for="RawFiles" class="custom-file-input" type="file" id="FormControlFile" />
                <label class="custom-file-label" for="FormControlTile">Choose A File...</label>
                <span asp-validation-for="RawFiles" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group">
                @if (null != Model.KioskFiles)
                {
                <table class="table" id="fileTable">
                    <thead>
                        <tr>
                            <th>
                                <a>File Name</a>
                            </th>
                            <th>
                                <a>Title</a>
                            </th>
                            <th>
                                <a>Description</a>
                            </th>
                            <th>
                                <a>BlobURI</a>
                            </th>
                            <th><a>Actions</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var kFile in Model.KioskFiles)
                        {
                        <tr>
                            <td>
                                @kFile.FileName
                            </td>
                            <td>
                                @kFile.Title
                            </td>
                            <td>
                                @kFile.Description
                            </td>
                            <td>
                                @kFile.BlobUri
                            </td>
                            <td>
                                <a asp-action="EditFile" asp-route-id="@kFile.Id">Edit</a> |
                                <a asp-action="DeleteFile" asp-route-id="@kFile.Id">Delete</a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
                }
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/js/FileUpload.js" asp-append-version="true"></script>
}